---
id: commerce
version: '1.0'
name: Hello Person
start: ProcessOrder
functions:
- name: orderNew
  type: custom
  operation: "rest:post:/"
- name: payment
  type: custom
  operation: "rest:post:/"
- name: inventoryReserve
  type: custom
  operation: "rest:post:/"
states:
- name: ProcessOrder
  type: operation
  actions:
  - functionRef:
      refName: orderNew
  transition: ProcessPayment
- name: ProcessPayment
  type: operation
  actions:
  - functionRef:
      refName: payment
  transition: ReserveInventory
- name: ReserveInventory
  type: operation
  actions:
  - functionRef:
      refName: inventoryReserve
  end: true